html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body,
#downloader-content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#link-container {
    display: block;
    font-size: 1.3rem;
    background: linear-gradient(to right, #77a1d3, #79cbca);
    color: white;
    border-radius: 6px;
    padding: 1rem min(2.3rem, 10vw);
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
#link {
    text-decoration: none;
    color: white;
    position: absolute;
    opacity: 0;
    inset: 0;
}

#pointer {
    pointer-events: none;
    position: absolute;
    left: 50%;
    width: 36px;
    transition: opacity 0.2s;
    transform: translate(-50%, -50%);
    animation: rotate 1s infinite alternate-reverse;
    user-select: none;
    -webkit-user-select: none;
}

@keyframes rotate {
    from {
        rotate: -1deg;
    }
    to {
        rotate: 2deg;
    }
}

main {
    position: relative;
    transition: transform 0.33s cubic-bezier(0, 0.21, 0.56, 1.33);
}

main:hover {
    transform: scale(1.25);
}

main:hover #pointer {
    opacity: 0;
}

.instructions {
    margin-top: 1rem;
    font-weight: 300;
    max-width: 50ch;
    text-align: center;
}

.error {
    color: rgb(210, 0, 49);
}

#text-instructions {
    padding: 0rem 1rem;
}

#name-container {
    font-weight: bold;
}

#copy-link {
    border: none;
    color: white;
    font-size: 0.9rem;
    margin: auto;
    padding: 0.18rem 1rem;
    background-color: rgb(115, 145, 255);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, background-color 0.3s;
    line-height: 1.6em;
}
#copy-link:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

#copy-link.copied {
    background: rgb(0, 190, 127);
}

/* FOOTER */
footer {
    position: absolute;
    font-size: 0.75rem;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}
#create-own-downloader-container {
    display: inline-block;
}
#create-own-downloader-link {
    color: rgba(0, 0, 0, 0.7);
}
.website-link {
    color: rgb(0, 53, 210);
}
footer a {
    text-underline-offset: 0.2em;
}
.github-link {
    display: inline-block;
}
.github-link img {
    height: 16px;
    vertical-align: bottom;
}

/* DRAG IMAGE CSS */
.info {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.star {
    width: 48px;
    height: 48px;
}

.explanation {
    margin-left: 1.5rem;
    color: white;
    background: linear-gradient(to right, #5a9ece, #5e82b5);
    padding: 0.7rem 1rem;
    border-radius: 8px;
    width: 21ch;
    text-align: center;
}

/* CREATOR CSS */
.input {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}
.input span {
    margin-left: 0.3rem;
    transition: color 0.2s;
}
.input:focus-within span {
    color: rgb(0, 53, 210);
}
.input input {
    font-size: 1.2rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 0.4rem 0.5rem;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: box-shadow 0.3s;
    outline: none;
    line-height: 1.4rem;
}
.input input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
}
.input input:focus {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

#creator-form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: min(90vw, 263px);
    margin: auto;
}

#creator-submit {
    border: none;
    color: white;
    font-size: 1.2rem;
    margin: auto;
    padding: 0.3rem 1.4rem;
    background: linear-gradient(to right, #77a1d3, #79cbca);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    line-height: 1.6em;
    font-weight: 600;
}
#creator-submit:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

#creator-heading {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    padding: 0rem 1.1rem;
    text-align: center;
}
